include requirements.txt
include LICENSE
include aws_helper.py
include app.py
include app_config.py
include app_logger.py
include aws_helper.py
include test_healthz.py
include env
include scripts
include appspec.yml
include ami
include cloudwatch-config.json


